  # version attribute removed as it is obsolete
networks:
  network:
    driver: bridge
volumes:
  mysql:

services:
  api_job3:
    image: mysql:8.0
    container_name: job3-container
    restart: always
    volumes:
      - mysql:/var/lib/mysql
    networks:
      - network
    environment:
      MYSQL_USER: root
      MYSQL_PASSWORD: KuvcCHKX
      MYSQL_ROOT_PASSWORD: NfMdh3cr
      MYSQL_DATABASE: bd-dev-local
    ports:
      - 3310:3306
    labels:
      - "traefik.enable=false"
    